#showtrophy <import plug> <import tmpl>
imp plugin {
	Geolocation;
	}
    
    <.templ>
    
print("Input Username:  " "put:x")
		check x includes int ado includes char:
        	exe print("Please Input A Username Without Numbers."), exe fn(ClearConsole), reprint()
            
            
           fnd f, ClearConsole (); {
           		clr("MainConsole")
            }
          
#x is now an element
	print("Hello <x=cap>!")
    
    </templ>
